.slide img,
.card-image {
    height: 450px;
    object-fit: cover;
}
.search-filter .ant-menu-sub.ant-menu-inline {
    background: #fff !important;
}
.pointer {
    cursor: pointer;
}
.processing {
    border: solid 2px gold;
}
.not-processed {
    border: solid 2px brown;
}
.cash-on-delivery {
    border: solid 2px pink;
}
.dispatched {
    border: solid 2px navy;
}
.cancelled {
    border: solid 2px red;
}
.completed {
    border: solid 2px green;
}
